<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
 
</head>
<body>
        <section class="dashboard">
            <nav class="control-strip">
                <ul>
                    <li>brand</li>
                    <li>options</li>
                    <li>user status</li>
                </ul>
            </nav> 
                <aside class="sidebar"><header><h2>sidebar</h2></header></aside>
                <aside class="panels"><header><h2>panels</h2></header></aside>
        </section>

</body>
</html>